@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

body {
    font-family: 'Archivo', sans-serif;
}

a {
    text-decoration: none;
}

.logo-header {
    display: inline-block;
    font-weight: 500;
}

.button {
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}